# This is a basic workflow to help you get started with Actions

name: MacOs build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: install haskell
      run: |
        brew install ghc cabal-install

    # Runs a set of commands using the runners shell
    - name: Install deps
      run: |
        cabal update
        cabal install --only-dependencies -j4
    - name: Test
      run: cabal test

    - name: build
      run: cabal install exe:isocode --overwrite-policy=always --installdir=. --install-method=copy

    - name: just run help
      run: ./isocode --help
